* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: #468946;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-container {
    background: brown;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

.input-box {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    background: #111;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #333;
}

ul {
    margin-top: 20px;
}

li {
    background: #eee;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

li span {
    cursor: pointer;
    color: red;
    font-weight: bold;
}